/.vscode
/build
/edge-impulse-sdk
/model-parameters
/tflite-model
/fomo-can-detection-v15
/fomo-can-detection-v13
/coralmicro-fomo-kalmar-dataset-v1
/kalmar_bees
/kalmar_videos_coralmicro
/rotating
/rpi-fomo-final-320-1-v2(1)
/rpi-fomo-kalmar-data-v3
/rpi-yolo-final-320-1-v1
/rpi-yolo-kalmar-data-v6
/still
/output